<h1>You are on page 3!</h1>
<h2>Total so far: <%= total %></h2>

<!-- one way -->
<a href="/">Go home</a>

<!-- same-ish thing -->
<form action="/" method="get">
  <input type="submit" value="Go home" />
</form>
