<h1>Page 1!</h1>

<form action="/page-2" method="post">
  <div>
    Is this a quiz?
    <input type="radio" name="q1" value="y">Yes</input>
    <input type="radio" name="q1" value="n">No</input>
  </div>

  <div>
    Is this easy?
    <input type="radio" name="q2" value="y">Yes</input>
    <input type="radio" name="q2" value="n">No</input>
  </div>
  <input type="submit" value="Go to page 2" />
</form>
